**Function Data Frame (Loop For)**

In [5]:
import pandas as pd
#DataFrame
data = {'Nama': ['Syadda','Abdullah','Ahadan','Rafa','Paris','Naufal'],
'Umur': [19,36,20,30,22,33],
'Gaji': [4500000, 5200000, 3200000, 4000000, 3600000, 4200000]}
df = pd.DataFrame(data)

# Soal No 1 (For Loop)
bonus_karyawan = []
for index, row in df.iterrows():
    if row['Umur'] > 30:
        bonus = 0.05 * df.at[index, 'Gaji']
        df.at[index, 'Gaji + Bonus'] = bonus + row['Gaji']
        bonus_karyawan.append(row['Nama'])
    else:
        df.at[index, 'Gaji + Bonus'] = 0
print(df)

# jumlah gaji sebelum bonus
sebelum = df['Gaji'].sum() - bonus
# jumlah gaji setelah bonus
sesudah = df['Gaji'].sum()

print(f"Karyawan yang Menerima Bonus: {', '.join(bonus_karyawan)}")
print(f"Karyawan yang Tidak Menerima Bonus: {', '.join(set(df['Nama']) - set(bonus_karyawan))}")

       Nama  Umur     Gaji  Gaji + Bonus
0    Syadda    19  4500000           0.0
1  Abdullah    36  5200000     5460000.0
2    Ahadan    20  3200000           0.0
3      Rafa    30  4000000           0.0
4     Paris    22  3600000           0.0
5    Naufal    33  4200000     4410000.0
Karyawan yang Menerima Bonus: Abdullah, Naufal
Karyawan yang Tidak Menerima Bonus: Paris, Rafa, Syadda, Ahadan

**Function Data Frame (Lambda)**

In [10]:
import pandas as pd
#DataFrame
data = {'Nama': ['Syadda','Abdullah','Ahadan','Rafa','Paris','Naufal'],
'Umur': [19,36,20,30,22,33],
'Gaji': [4500000, 5200000, 3200000, 4000000, 3600000, 4200000]}
df = pd.DataFrame(data)

# Soal No 2 (Lambda)
df['Gaji + Bonus'] = df.apply(lambda row: row['Gaji'] * 0.05 if row['Umur'] > 30 else row['Gaji'], axis=1)
print(df)

# jumlah gaji sebelum bonus
sebelum = df['Gaji'].sum() - bonus
# jumlah gaji setelah bonus
sesudah = df['Gaji'].sum()

print(f"Karyawan yang Menerima Bonus: {', '.join(bonus_karyawan)}")
print(f"Karyawan yang Tidak Menerima Bonus: {', '.join(set(df['Nama']) - set(bonus_karyawan))}")

       Nama  Umur     Gaji  Gaji + Bonus
0    Syadda    19  4500000     4500000.0
1  Abdullah    36  5200000      260000.0
2    Ahadan    20  3200000     3200000.0
3      Rafa    30  4000000     4000000.0
4     Paris    22  3600000     3600000.0
5    Naufal    33  4200000      210000.0
Karyawan yang Menerima Bonus: Abdullah, Naufal
Karyawan yang Tidak Menerima Bonus: Paris, Rafa, Syadda, Ahadan